In [13]:
from sqlalchemy import create_engine
import pandas as pd


# Create a connection 
def connect_to_sakila():
# Replace 'username', 'password'
    engine = create_engine('mysql+pymysql://root:Farnaz245@localhost/sakila')
    return engine

engine = connect_to_sakila()

In [15]:
def rentals_month(engine, month, year):
    query = f"""
        SELECT *
        FROM rental
        WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year}
    """
    rentals_df = pd.read_sql(query, engine)
    return rentals_df

# Rental data for a month and year
rentals_df = rentals_month(engine, 5, 2005)
print(rentals_df.head())

   rental_id         rental_date  inventory_id  customer_id  \
0          1 2005-05-24 22:53:30           367          130
1          2 2005-05-24 22:54:33          1525          459
2          3 2005-05-24 23:03:39          1711          408
3          4 2005-05-24 23:04:41          2452          333
4          5 2005-05-24 23:05:21          2079          222

          return_date  staff_id         last_update
0 2005-05-26 22:04:30         1 2006-02-15 21:30:53
1 2005-05-28 19:40:33         1 2006-02-15 21:30:53
2 2005-06-01 22:12:39         1 2006-02-15 21:30:53
3 2005-06-03 01:43:41         2 2006-02-15 21:30:53
4 2005-06-02 04:33:21         1 2006-02-15 21:30:53

In [17]:
def rental_count_month(rentals_df):
# Asking the user 
    month = int(input("Enter the month (in numeric format): "))
    year = int(input("Enter the year: "))
    
# Group by customer_id and count the number of rentals for the month and year
    rental_counts = rentals_df.groupby('customer_id').size().reset_index(name=f'rentals_{month:02}_{year}')
    return rental_counts

# Get rental counts based on user input
rental_counts = rental_count_month(rentals_df)

# Output the results
print(rental_counts)

Enter the month (in numeric format):  8
Enter the year:  2006

     customer_id  rentals_08_2006
0              1                2
1              2                1
2              3                2
3              5                3
4              6                3
..           ...              ...
515          594                4
516          595                1
517          596                6
518          597                2
519          599                1

[520 rows x 2 columns]

In [19]:
# Function to retrieve rental data for a given month and year
def rentals_month(engine, month, year):
    query = f"""
        SELECT customer_id, COUNT(rental_id) AS rental_count
        FROM rental
        WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year}
        GROUP BY customer_id
    """
    df = pd.read_sql(query, engine)
    return df

# Function to count rentals and rename column according to month/year
def rental_count_month(df, month, year):
# Create column name 
    column_name = f"rentals_{month:02}_{year}"
    
# Group by customer_id and count
    df = df.groupby('customer_id')['rental_count'].sum().reset_index()
    
# Rename the column to reflect the month and year
    df = df.rename(columns={'rental_count': column_name})
    
    return df

# Function to compare rental counts between two DataFrames
def compare_rentals(df1, df2):
    # Merge the two DataFrames on 'customer_id'
    combined_df = pd.merge(df1, df2, on='customer_id', how='outer').fillna(0)
    
# Calculate the difference between the two rental counts
    combined_df['difference'] = combined_df.iloc[:, 1] - combined_df.iloc[:, 2]
    
    return combined_df

# Example
rental_counts_may = rentals_month(engine, 5, 2005)
rental_counts_may = rental_count_month(rental_counts_may, 5, 2005)

rental_counts_june = rentals_month(engine, 6, 2005)
rental_counts_june = rental_count_month(rental_counts_june, 6, 2005)

comparison_df = compare_rentals(rental_counts_may, rental_counts_june)
print(comparison_df.head())

   customer_id  rentals_05_2005  rentals_06_2005  difference
0            1              2.0              7.0        -5.0
1            2              1.0              1.0         0.0
2            3              2.0              4.0        -2.0
3            5              3.0              5.0        -2.0
4            6              3.0              4.0        -1.0